/* phone */
@media (max-width: 480px) {
  
  .search-bar-section{
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
/* phone */

/* Tablets */
@media (min-width: 481px) and (max-width: 1024px) {

  /* (Tablets)search bar section */
  .search-bar-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-bar-input {
    margin-top: 150px;
    margin-right: 10px;
    width: 375px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    height: 50px;
    padding: 12px;
    border: solid lightgrey;
    color: white;
    font-size: 20px;
    outline: none;
  }

  .search-bar-button{
    margin-top: 150px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    outline: none;
    border: solid lightgrey;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .search-icon{
    color: lightgray;
    font-size: 20px;
  }  

  /*(Tablets) search bar section */
  
  /*(Tablets)todays weather section */

  .todays-weather-section{
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    min-height: 350px; 
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 40px auto;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
  }

  .todays-weather-section > .weather-icon {
    font-size: 100px;
  }

  .todays-weather-section > h3,p {
    margin: auto;
  }

  /*(Tablets)todays weather section */

  /* (Tablets) 5 Day ForeCast Section */

  .five-Day-Forecast > h2 {
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .five-Day-Forecast > div {
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    padding: 20px;
    border-radius: 40px;
  }

  .five-Day-Forecast > div > .weather-icon{
    font-size: 75px;
    margin-left: 80px;
  }

  .five-Day-Forecast > div > h4 {
    margin-right: 20px;
    margin-left: 10px;
    font-size: 25px;
  }

  .five-Day-Forecast > div > p {
    margin-right: 20px;
    font-size: 25px;
  }
   /* (Tablets) 5 Day ForeCast Section */
  
}
/* Tablets */

/* Laptops */
@media (min-width: 1025px) and (max-width: 1440px) {

}

/* Laptops */

/* Desktops */
@media (min-width: 1441px) {
  
}
/* Desktops */



body {
  background-image: url(https://images.unsplash.com/photo-1558486012-817176f84c6d?q=80&w=1804&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

